* {
    font-family: sans-serif;
    background-color: antiquewhite;
}

img {
    height: 50px;
    width: 300px;
}

.login {
    height: 200px;
    width: 300px;
    background-color: rgba(250, 203, 150, 0.846);
    margin: auto;
    margin-top: 20vh;
}

