@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #dfe9f5;
    overflow: hidden;
}
.container {
    display: flex;
}
.nav{
    position: relative;
    margin: 2vh;
    margin-right: 0;
    top: 0;
    bottom: 0;
    height: 96vh;
    left: 0;
    background: #fff;
    width: 100px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    transition: 0.5s all linear;
}
.logo {
    text-align: center;
    padding: 15px;
}
.logo img{
    width: 60px;
    height: 60px;
}
a{
    color: rgb(85, 83, 83);
    font-size: 14px;
    padding: 10px;
    display: flex;
}
a span {
    position: relative;
    left: 100%;
    transition: 0.5s all ease-in-out;
}
.nav .fas{
    width: 50px;
    height: 40px;
    font-size: 20px;
    margin-left: 30px;
}
.nav-item{
    margin-left: 10px;
}
li a:hover{
    background: #eee;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav:hover {
    width: 250px;
}
.nav:hover span {
    left: 10px;
}

/* for the main section */
.main {
    margin: 2vh;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}
.main-item {
    background-color: #fff;
    margin-bottom: 2vh;
    border-radius: 15px;
    padding: 20px;
    display: flex;
}
.header .heading {
    color: #545252;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}
.header .sub {
    color: #545252;
    font-size: small;
}
.header .accessibility {
    margin-left: auto;
    height: 50px;
    display: flex;
    align-items: center;
}
.accessibility img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.attendance {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.courses {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: bold;
    color: #545252;
}
.view-more {
    position: absolute;
    right: 0;
    align-self: center;
}
.view-more:hover {
    text-decoration-line: underline;
}
.courses .status {
    margin-top: 15px;
    align-items: center;
    display: flex;
}
.status a {
    margin-right: 20px;
}
.active-bar, .bar:hover {
    font-weight: 600;
    text-decoration-line: underline;
}
/* for the courses tab */
.topic-frames {
    display: flex;
    align-items: center;
    margin: 20px;
    height: 100%;
}
.plate {
    margin: 10px;
    padding: 15px;
    padding-left: 20px;
    flex-grow: 1;
    border-radius: 5px;
    flex-basis: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.plate .title {
    font-weight: 600;
    text-align: center;
}
.frame-1 {
    background-color: lightpink;
}
.frame-2 {
    background-color: lightcoral;
}
.frame-3 {
    background-color: lightsalmon;
}
.frame-4 {
    background-color: rgb(120, 249, 219);
}
.plate:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.plate img {
    height: 150px;
    width: 150px;
}
